.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #1A1919;
    color:#fff;
  }


/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

.sidebar h1 {
  color: lightgray;
  margin-top: 10;
  font-size: 1.5rem;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
  border: 1px solid #000;
  height: 150px;
  width: 200px;
}

/* Lists */
li {
  margin-top: 0;
  margin-bottom: 1.0rem;
}